body {
  background-color: #C9C9C9;
}

h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #323232;
}

h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #323232;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
}

h5 {
  font-size: 16px;
  line-height: 20px;
  color: #323232;
  font-weight: 600;
}

.container {
  background-color: #FFFFFF;
}

.headerSection{
  width: 1280px;
  height: 70px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.25);
  margin-bottom: 40px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  vertical-align: center;
}

.paginationSection {
  margin-top: 30px;
  font-size: 32px;
  margin-bottom: 50px;
}

.tabsSection {
  position: absolute;
  right: 0;
  bottom: -26px;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.tabsSection > li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 12px;
  height: 12px;
  margin-right: 12px;
  margin-left: 12px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #C9C9C9;
  background-clip: padding-box;
  border-top: 0px solid transparent !important;
  border-bottom: 0px solid transparent !important;
  opacity: 1;
  transition: opacity .6s ease;
  border-radius: 12px;
}

.tabsSection > .active {
  opacity: 1 !important;
  background: linear-gradient(91.83deg, #93E08C -1.93%, #78CEBF 97.03%);
}

.carousel-control-next, .carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: .5;
  transition: opacity .15s ease;
  
}


.fa-arrow-alt-circle-right {
  color: #C9C9C9
}

.fa-arrow-alt-circle-left {
  color: #C9C9C9
}

.titleGallery {
  margin-bottom: 24px;
}

.card-img-top {
  height: 243px;
  width: 364px;
}

.col-md-6 {
  margin-bottom: 40px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: none;
  border-radius: none;
}

/* Form */
label {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #323232;
}

label {
  width: 100%;
}

.upSection {
  margin-bottom: 30px;
}

.downSection {
  margin-bottom: 20px;
}

.form-control:focus{
  border-color: #479C3F;
}




/* Footer */
.footerSection {
  background: #323232;
  width: 1280px;
  height: 200px;
  left: 0px;
  right: 0px;
}

/* Медиа запросы */
@media screen and (max-width: 768px) {
  .align-self-start {
    display: none;
  }

  .align-self-end {
    display: none;
  }

  .tabsSection > li {
    width: 21px;
    height: 2px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: none;
  }

  .tabsSection {
    bottom: 0px;
  }

  .card-img-top {
    height: 72px;
    width: 95px;
  }
  
}